<% provide(:title, 'Home') %>
<div class="page-header">
	<h1>CPAR System</h1>
	<h2>
	  Please login to use features.
	  <p><%= link_to "Sign In", signin_path, class: "btn btn-large btn-primary" %></p>
		</h2>
  	
</div>
