<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Web CPAR, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Web CPAR,
      your registered email is <%= @user.email %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <p><%= link_to "Sign In", signin_url %></p>.
    </p>
    <p>Thanks for registering and have a great day!</p>
  </body>
</html> 