<% provide(:title, 'Auditor Dashboard') %>
<h1>Auditor Dashboard</h1> 
<ul> 
	<li><%= link_to 'View All Action Plans', auditor_action_plans_path %></li> 
	<li><%= link_to 'View Issues', auditor_issues_path %></li> 
</ul>