<!--Functions as Activity index show for Current Action Plan -->
<p><strong>Showing Activities</strong></p>
<p> For Action Plan # <%= action_plan.id %></p>
<p><%= action_plan.description %></p> 
<table class="table table-striped table-bordered">
    <tr>
      <th>Submitter</th>
      <th>Description</th>
      <th>Target Date</th>
      <th>Actual Date</th>
    </tr>
    </table>

</table>

