<% provide(:title, 'Responsible Officer Dashboard') %>
<h1>Responsible Officer Dashboard</h1> 
<ul> 
	<li><%= link_to 'View All Action Plans', officer_action_plans_path %></li> 
	<li><%= link_to 'View All Issues Assigned to you', officer_issues_path %></li> 
</ul>