<% provide(:title, 'All Action Plans') %>
<h1>All Action Plans</h1>

<ul class="action_plans">
	<% @action_plans.each do |action_plan| %>
  		<li>
  			<%= link_to "Action Plan # #{action_plan.id}", action_plan %>
  			<p><%= action_plan.description%></p>
  		</li>
  	<% end %>

</ul>

<%= will_paginate %>