<% provide(:title, 'Department Head Dashboard') %>
<h1>Department Head Dashboard</h1> 
<ul> 
	<li><%= link_to 'View Users under Department', dept_users_path %></li> 
	<li><%= link_to 'View All Issues under Department', dept_issues_path %></li> 
</ul>