<% provide(:title, 'QMR: Add New Issue') %>
<h1>QMR: Add New Issue</h1>

<div class="row">
  <div class="span6 offset3">
      <%= render 'issueform' %>
      <%= link_to 'Back', qmr_issues_path, class: "btn btn-link" %>
  </div>
</div>