<% provide(:title, 'QMR Administration') %>
<h1>QMR Administration</h1> 

<h4>Issues Summary</h4>
<p><b>All Issues: </b><%= @issues.count %></p>
<p><b>Issues for Approval: </b><%= @issues_new.count %></p>
<p><b>Rejected Issues: </b><%= @issues_rejected.count %></p>
<%= link_to 'Manage Issues', qmr_issues_path, class: "btn btn-link"%>
